body{
  background-image: url("../pics/grid.png");
  background-size: 60%
}

html{
    height: 100%;
    font-family: "Work Sans";
    font-weight: 800
}
p, h2{
  font-family: "Source Code Pro";
  color: black;
}
h4{
  font-family: "Source Code Pro";
  color: white;
}
.large{
  font-size: 1000%;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 1px;
}
.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 30%;}
.col-5 {width: 40%;}
.col-6 {width: 50%;}
.col-7 {width: 60%;}
.col-8 {width: 70%;}
.col-9 {width: 75%;}
.col-10 {width: 80%;}
.col-11 {width: 90%;}
.col-12 {
  width: 100% 10%;
  min-height: 100px
}

.img{
  width: 100%;
  max-height: 100px;
  height: auto;
}

.dana{
  background-image: url("../pics/flowers.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 8000px;
  height: 500px;
  border: 5px solid black;
  z-index: -5;
}

.top{
  position:fixed;
  width:100%;
  z-index:20!important
  top:0
}

.mybutton{
  border: 5px solid black;
  display:inline-block;
  padding:6px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none!important;
  color:#fff;background-color:#000;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
  color:#000;
  background-color:#f1f1f1;
  padding:8px 16px
}
.mybutton:hover{color:#000!important;background-color:#ccc!important}

.white{
  fill: #f1f1f1;
}

.black{
  fill: #000000;
}

.container {
  padding: 0.01em 16px;
  position: relative;
  text-align: center;
  z-index: -1;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-center{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mySlides {
  display:none;
}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}
.w3-badge {
  height:13px;
  width:13px;
  padding:0;
}

.w3-container{
  z-index: 2;
}

.menu {
    display: none;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
    font-size: 17px;
}


div.tab button:hover {
    background-color: #ddd;
}


div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.w3-tag{
  background-color:#000;
  color:#fff;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  padding-top:5px;
  padding-bottom: 5px;
  text-align:center;
}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 56.34%;
}

.js-video.vimeo {
  padding-top: 0;
}

.long{
  min-height: 900px;
}

.longer{
  min-height: 1200px;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
